h1{
    font-size: 100px;
    margin-top: 20px;
    font-family: 'Aboreto';
    margin-bottom:70px;
}
.h1{
    font-size: 100px;
    margin-top:100px;
    font-family: 'Aboreto';
}
body{
    background-color: lightgray;
}
.aboutmeone{
    font-size: 100px;
    margin-top:50px;
    text-align: center;
}
.myface{
    margin-bottom:150px;
    margin-left: 100px;
    margin-top: 20px;
}
h3{
    font-family: 'Alegreya Sans SC';
    margin-right: 100px;
    margin-top: 40px;
}
h2{
    font-family: 'Alegreya Sans SC';
    margin-top: 20px;
    text-align: center;
}
.football{
    margin-top: 20px;
    margin-left: 50px; 
}
.sportsh{
    margin-top: 80px;
    text-align: left;
}
.basketball{
    margin-bottom:200px;
}
.socials{
    margin-top:15px;
}
.footballp{
    font-family: 'Alegreya Sans SC';
    text-align: right;
    margin-top: 40px;
    margin-right:20px;
}
